.Product {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  & > {
    display: inline-flex;
  }
  .ContainerImg {
    max-width: 280px;
    float: left;
    margin-right: 1rem;
  }

  img {
    width: 100%;
  }
  @media (max-width: 768px) {
    display: flex;
    flex-flow: column;
    img {
      width: 100%;
    }
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .ContainerDetails {
    display: flex;
    & > {
      flex: 1 1 1;
    }
  }
  .ProductInformationTop {
    margin: 0 auto;
    p {
      align-self: flex-end;
    }
    & > {
      flex: 1 1 1;
    }
  }
  .AlignLeft {
    float: left;
  }
  .AlignRight {
    float: right;
  }
  .clear:after {
    content: '';
    display: table;
    clear: both;
  }
  .CleanA {
    text-decoration: none;
  }
}
