.Product {
  //   display: flex;
  //   flex-flow: row wrap;
  margin-bottom: 2rem;
  & > {
    display: inline-flex;
  }
  .ContainerImg {
    max-width: 280px;
    float: left;
    margin-right: 1rem;
  }

  img {
    width: 100%;
  }
  @media (max-width: 768px) {
    flex-flow: column;
    img {
      width: 100%;
    }
  }

  .ProductInformationTop {
    margin: 0 auto;
    p {
      align-self: flex-end;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .ContainerDetails {
    // float: left;
  }
  .AlignLeft {
    float: left;
  }
  .AlignRight {
    float: right;
  }

  .Description {
  }
}
